/JUnitSample/nbproject/private/
/JUnitSampleSol/nbproject/private/
/JUnitSample/build/
/ClickApplication/nbproject/private/
/ClickApplication/dist/
/ClickApplication/build/
/ClickApplication2/nbproject/private/
/ClickApplication/.gradle/
